/*th {
    font-size: 25px;
    border-width:1px 2px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    text-align: center;
}*/
tr:first-child td{
    font-weight: bolder;
}
td{
  font-size: 25px;
  border-width: 1px 3px 1px 1px;
  border-style: solid;
  border-color: black;
  padding: 5px;
  text-align: center;
}
/*td:first-child{
    font-weight: bolder;
}*/
table{
    position: relative;
}
